.mw-768px {
  max-width: 768px;
}
.mw-712px {
  max-width: 712px;
}
.mh-480px {
  max-height: 480px;
}
.mh-400px {
  max-height: 400px;
}
.mw-720px {
  max-width: 720px !important;
}
.mw-608px {
  max-width: 608px !important;
}
.mw-960px {
  max-width: 960px;
}
.mh-558px {
  max-height: 558px;
}
.mh-20px {
  max-height: 20px !important;
}
.mh-456px {
  max-height: 456px !important;
}
.mh-512px {
  max-height: 512px;
}
.mh-336px {
  max-height: 336px;
}
.mw-480px {
  max-width: 480px;
}
.mw-590px {
  max-width: 590px;
}
.mw-28px {
  max-width: 28px;
}
.mw-24px {
  max-width: 24px;
}
.mw-48px {
  max-width: 48px;
}
.mw-40px {
  max-width: 40px;
}
.mw-320px {
  max-width: 320px;
}
.mw-146px {
  max-width: 146px;
}
.mw-80px {
  max-width: 80px;
}
.mw-384px {
  max-width: 384px !important;
}
.mw-56px {
  max-width: 56px;
}
.mw-264px {
  max-width: 264px;
}
.mw-1216px {
  max-width: 1216px;
}
.mw-280px {
  max-width: 280px !important;
}
.mw-286px {
  max-width: 286px !important;
}
.mw-64px {
  max-width: 64px;
}
.mw-360px {
  max-width: 360px;
}
.mw-336px {
  max-width: 336px;
}
.mh-500px {
  max-height: 500px;
}
.mh-560px {
  max-height: 560px !important;
}
.mh-570px {
  max-height: 570px !important;
}
.mw-560px {
  max-width: 560px !important;
}
.mw-576px {
  max-width: 576px !important;
}
.mw-888px {
  max-width: 888px;
}
.mw-120px {
  max-width: 120px;
}
.mw-130px {
  max-width: 130px !important;
}
.mw-198px {
  max-width: 198px !important;
}
.mw-234px {
  max-width: 234px !important;
}
@media only screen and (max-width: 768px) {
  .navbar-collapse {
    flex-direction: column;
    text-align: start;
    width: 100%;
  }
  .drop {
    box-shadow: none !important;
  }
  .navbar-collapse ul {
    width: 100%;
  }
  .nav-item {
    width: 100%;
    text-align: left;
  }
  .btn-group {
    flex-direction: column-reverse;
    gap: 12px;
    margin-top: 32px;
    width: 100%;
  }
  .btn-group button {
    width: 100%;
  }
  .btn-group .login {
    background-color: var(--bs-primary-50) !important;
    color: var(--bs-primary-600);
  }
}
.fs-48px {
  font-size: 48px;
}
.fs-14px {
  font-size: 14px;
}
.fs-20px {
  font-size: 20px;
}
.fs-18px {
  font-size: 18px;
}
.fs-16px {
  font-size: 16px;
}
.w-fit-content {
  width: fit-content !important;
}
